

* {
	padding: 0px;
	margin: 0px;
}

#more {
	display: none;
}
#more2 {
	display: none;
}
#more3 {
	display: none;
}
#more4 {
	display: none;
}
#more5 {
	display: none;
}

#more6 {
	display: none;
}
.contact {
	background-color: #25221E;
	height: 50px;	
}

.socialmedia{
	background-color: #25221E;
	height: 50px;
	width: 15%;
	display:flex;
	align-items: center;   
	justify-items: flex-start;
	justify-content: space-around;	
}

.containerlogo {
	background-color: #d3d3d3;
	height: 100px;
	display:flex;
	align-items: center;
	justify-content: center;
}

.container {
	background-color: #E9E9E9;
}

.navbar {
	background-color: #008080;
	font-size: 25px;
	display: flex;
	justify-content: center;
}

.navbar-menu {
	color: #fff;
}

.menu {
	list-style: none;
	display: inline-flex;
	justify-content: center;
}

.menu li {
	margin: 10px; /*Deixar responsivo*/
	text-transform: uppercase;
}

.local {
	background-color: black;
	height: 350px;
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;	
	justify-items: center;
}

.localdiscription{
	background-color: black;
	color: #FFFFFF;
	height: 50%;
	width: 40%;	
	display:flex;
	justify-content: center;
	align-items: center;	
	justify-items: center;
}

.localtext{
	background-color: black;
	height: 90%;
	width: 90%;		
}

.faq{
	background-color: #008080;
	width: 100%;
	height: 50px;
	display:flex;
	align-items: center;		
}

.written{
	background-color: #008080;
	width: 100%;
	height: 50px;
	display:flex;
	align-items: center;	
	margin-left: 215px;
}

.containerfaq {
	background-color: #008080;
	height: 175px;
	width: 100%;
	display:flex;
	align-items: center;	
	justify-content: space-around;	
}

.questions{
	background-color: #008080	;
	height: 80%;
	width: 80%;
	display:flex;
	justify-content: center;
	align-items: center;	
	justify-items: center;
}

.questions1{
	background-color: #008080;
	height: 100%;
	width: 40%;
	display:inline-block;		
}

.redcolumn{
	height: 100%;
	width: 5%;
	background: black;
}

.questions2{
	background-color: #008080;
	height: 100%;
	width: 40%;
	display:inline-block;	
}

.itemfaq{
	background-color: #FFFFFF;
	height: 16%;
	width: 100%;
	display:flex;	
	align-items: center;	
	justify-content: center;
}

.showmore{
	background-color: #FFFFFF;
	width: 100%;
}

.textfaq{
	background-color: #FFFFFF;
	width: 90%;
	align-self:center;
}

.readmorebtn{
	background-color: #FFFFFF;
	width: 20%;
	float: right;
	border: none;
}

.footer {
	background-color: #515151;
	color: #fff;
	font-size: 18px;
	padding: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo-footer {
	
}

#menu-footer {
	
}

#redes-sociais-footer {
	
}

#copy {
	
}